<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InstagramAppClientId</key>
	<string>37677046d01940ebb9c2e85f6f7efd5665</string>
	<key>InstagramAppRedirectURL</key>
	<string>https://www.narnosoft.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb2325353535</string>
			</array>
		</dict>
	</array>
	<key>FacebookDisplayName</key>
	<string>PrinstaPick</string>
	<key>FacebookAppID</key>
	<string>2347tretttetetetetet</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Allow</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow</string>
	<key>UIAppFonts</key>
	<array>
		<string>Raleway-Light_0</string>
		<string>Raleway-Regular</string>
		<string>Raleway-SemiBold</string>
		<string>Raleway-Medium</string>
		<string>Raleway-ExtraBold</string>
		<string>Raleway-BoldItalic</string>
		<string>Raleway-Bold</string>
		<string>Raleway-BlackItalic</string>
		<string>Raleway-Black</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
